/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
$font-family: monospace;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
}

body {
  line-height: 1.5;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

.header {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fefefe;
    height: 60px;
    padding: 5px 30px;
    z-index: 999;

    -webkit-box-shadow: 0px 3px 10px 0px rgba(135, 133, 135, 1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(135, 133, 135, 1);
    box-shadow: 0px 3px 10px 0px rgba(135, 133, 135, 1);

    .logo {
      padding-left: 65px;
      img {
        width: 100px;
        height: 40px;
        object-fit: contain;
      }
    }

    .navigation {
      flex: 1;
      text-align: center;
    }

    .cart-image {
      position: relative;
      right: 0;
      width: 40px;
      height: 40px;
      text-align: right;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }

      .counter {
        position: absolute;
        top: 0;
        right: -8px;
        padding: 0 7px;
        background-color: #ffffff;
        color: #4169e1;
        font-size: 14px;
        font-weight: 600;
        border-radius: 30px;
        text-align: center;
        -webkit-box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
        -moz-box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
        box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
      }

      .show-cart-items {
        position: absolute;
        top: 56px;
        right: 0;
        width: 320px;
        background: #ffffff;
        -webkit-box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
        -moz-box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
        box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
        border-radius: 2px;
        z-index: 9999;
        text-align: left;
        
      }
    }
  }
}

.disable {
  pointer-events: none!important;
  opacity: 0.7;
}

.display-none {
  display: none!important;
}

.display-block {
  display: block!important;
}

.display-flex {
  display: flex!important;
}

button {
  border: none;
  outline: 0;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  width: 90%;
  padding: 20px;
  margin: auto;
  margin-top: 60px;

  .product-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    
    padding: 30px;
  }

  .product-list .card {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
    box-shadow: 0px 1px 10px 0px rgba(135, 133, 135, 1);
    max-width: 300px;
    margin: 10px;
    font-family: arial;
    border-radius: 5px;
  }

  .card .product-image {
    width: 300px;
    height: 220px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    .black-cover {
      position: absolute;
      width: 300px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(201, 200, 201, 0.5);
      display: none;
      flex-flow: column;
      border-radius: 5px;

      .details-btn {
        margin: 4px;
        padding: 10px 20px;
        background-color: #4169e1;
        color: #ffffff;
        font-size: 14px;
        border-radius: 30px;
        text-decoration: none;
        line-height: 1;
      }
      .remove {
        background: #707070;
      }
    }

    &:hover .black-cover {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .card .product-image img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
  }

  .card .product-info {
    padding: 5px 10px;
  }

  .card .product-info .title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .card .product-info .price {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }

  .card .product-qty {
    margin: 0;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
  }

  .add-cart-action {
    padding-top: 10px;

    .add-cart-btn {
      border-radius: 5px;
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #4169e1;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 14px;
    }

    .btn-cart-action {
      border-radius: 5px;
      background-color: #4169e1;
      color: #ffffff;
      display: flex;
      align-items: center;

      span {
        display: block;
        text-align: center;
        padding: 6px;
      }
      span.qty {
        flex: 1 1 60%;
        font-size: 16px;
        border-right: 1px solid #efefef;
        border-left: 1px solid #efefef;
      }
      span.btn-inc-dec {
        font-size: 16px;
        flex: 1 1 40%;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }

}

.mb-10 {
  margin-bottom: 10px!important;
}

.custome-alert {
  position: absolute;
  top: 60px;
  right: 24px;
  width: 320px!important;
}

.font-300 {
  font-weight: 300!important;
}
.font-400 {
  font-weight: 400!important;
}

.m-0 {
  margin: 0!important;
}
