.product-data-table {
    padding: 30px 0;

    .head-section {
        h3 {
            margin: 0;
        }
        .create-action {
            padding-bottom: 1em;
            text-align: right;
            .create-btn {
                background-color: var(--add-cart-button-background);
                color: #ffffff;
            }
        }
    }
}