<div class="card">
    <div class="product-image">
        <img [src]="product.ImageLink" alt="Denim Jeans">
        <div class="black-cover">
            <a [routerLink]="['/product/', product._id]" class="details-btn">Show Details</a>
            <button *ngIf="cartComponent" class="details-btn remove" (click)="removeCartItem(product)">Remove</button>
        </div>
    </div>
    <div class="product-info">
        <p class="title">{{product.ProductName}}</p>
        <p class="price">BDT {{product.Price | number: '1.2-2'}}</p>
    </div>
    <p class="product-qty">Available Quantity: <span>{{product.Quantity}}</span></p>  
    <div class="add-cart-action">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <button class="add-cart-btn" *ngIf="!product.cartQty" [ngClass]="loading ? 'disable' : ''" (click)="addToCart(product)">Add to Cart</button>
        <div class="btn-cart-action" *ngIf="product.cartQty">
          <span class="btn-inc-dec" [ngClass]="decCheck ? (loading ? 'disable' : '') : 'disable'" (click)="cartQtyChange('dec', product)">-</span>
          <span class="qty">{{product.cartQty}}</span>
          <span class="btn-inc-dec" [ngClass]="incCheck ? (loading ? 'disable' : '') : 'disable'" (click)="cartQtyChange('inc', product)">+</span>
        </div>
    </div>
</div>