.card .product-image {
  width: 300px;
  height: 220px;

  position: relative;
  .black-cover {
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(201, 200, 201, 0.5);
    display: none;

    .details-btn {
      padding: 10px 20px;
      background-color: #4169e1;
      color: #ffffff;
      font-size: 14px;
      border-radius: 30px;
      text-decoration: none;
    }
  }

  &:hover .black-cover {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card .product-image img {
  width: 280px;
  height: 200px;
  object-fit: contain;
}

.card .product-info {
  padding: 10px 15px;
  display: flex;
}

.card .product-info .title {
  margin: 0;
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .product-info .price {
  margin: 0;
  flex: 1;
  color: grey;
  text-align: right;
}

.card .description {
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
}

.card .product-qty {
  margin: 0;
  padding: 0 15px;
}

.card .add-cart-action {
  padding-top: 10px;

  .add-cart-btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4169e1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
  }

  .btn-cart-action {
    background-color: #4169e1;
    color: #ffffff;
    display: flex;
    align-items: center;

    span {
      display: block;
      text-align: center;
      padding: 6px;
    }
    span.qty {
      flex: 1 1 60%;
      font-size: 14px;
      border-right: 1px solid #efefef;
      border-left: 1px solid #efefef;
    }
    span.btn-inc-dec {
      font-size: 14px;
      flex: 1 1 40%;
      cursor: pointer;
      font-weight: 600;
    }
  }
}
