.navigation {
    a {
        text-decoration: none;
        padding: 0 15px;
        color: #707070;
        &:hover {
            color: #4169e1;
        }
    }
    .active {
        color: #4169e1;
    }
}

.router-change-progress-bar {
   ::ng-deep {
    .mat-progress-bar {
        position: absolute!important;
        top: 70px;
        left: 0;
        z-index: 9999;
    }
   }
}