.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 30px;
}
.no-data {
  font-weight: 400;
  a {
    color: var(--add-cart-button-background);
  }
}